<!--The content below is only a placeholder and can be replaced.-->
<section>
  <div class="container">
    <h1 class="display-2 text-center">Angular Trainig</h1>
    <div class="row mt-3">
      <div class="col-6">
        <app-style-component></app-style-component>
      </div>
      <div class="col-6">
        <app-style-color></app-style-color>
        <p class="lead">Hey there from app.component.html</p>
      </div>
      <div class="col-12">
        <app-ngclass></app-ngclass>
      </div>
      <br><br><br>
      <div class="col-12 mt-4">
        <h3 appHighlight>Custom Directive</h3>
      </div>
    </div>
  </div>
</section>
<router-outlet></router-outlet>
